<div class="banner">
  <div class="container">
    <div class="banner__wrapper">
      <div class="banner__left">
        <div class="banner__title">
          <h4 class="section-title">{{ "individuals" | translate }}</h4>
        </div>
        <h3 class="banner__subtitle">{{ "individuals" | translate }}</h3>
        <p class="banner__text">
          {{ "individualsBanner" | translate }}
        </p>
      </div>
      <div class="banner__right">
        <img src="./assets/image/individ-banner.png" alt="img" />
      </div>
    </div>
  </div>
</div>
