<div class="banner">
  <div class="container">
    <div class="banner__wrapper">
      <div class="banner__left">
        <div class="banner__title">
          <h4 class="section-title">Individuals</h4>
        </div>
        <h3 class="banner__subtitle">Individuals</h3>
        <p class="banner__text">
          Gain freedom from constraints when training with LAPARO Medical
          Simulators. Prepare for your work with patients without the risk or
          the consequences. Train as often as you want and bring the trainer
          with you wherever you go.
        </p>
      </div>
      <div class="banner__right">
        <img src="./assets/image/individ-banner.png" alt="img" />
      </div>
    </div>
  </div>
</div>
