<div class="content">
  <app-product-info [info]="product.information"></app-product-info>
  <div class="content__configurator__btn navigate" *ngIf="product.configurator">
    <button [routerLink]="['../../products', product.configurator]">
      {{ "createYourOwnSet" | translate }}
    </button>
  </div>
  <div class="content__configurator">
    <ng-container *ngIf="product.items; else single">
      <div class="content__configurator__btn">
        <button (click)="toggleConfigurator()">
          {{ "createYourOwnSet" | translate }}
        </button>
      </div>

      <div class="content__configurator__items" *ngIf="configurator">
        <app-product-item
          [product]="product.main_item"
          (addOrDeleteProduct)="addOrDeleteProduct($event)"
          [configuratorId]="product.is_configurator ? product.id : null"
          [isConfigurator]="product.is_configurator"
        ></app-product-item>

        <div class="content__configurator__items__additional">
          <app-product-additional
            *ngFor="let additional of product.items"
            [data]="additional"
            [configuratorId]="product.is_configurator ? product.id : null"
            (toggleCollapseHandler)="toggleCollapse($event)"
            (addOrDeleteProduct)="addOrDeleteProduct($event)"
          ></app-product-additional>
        </div>

        <div class="content__configurator__items__totalPrice">
          <h6>
            {{ "totalPrice" | translate }}:
            <span>{{
              totalPrice ? (totalPrice | myCurrency | async) : 0
            }}</span>
          </h6>
        </div>
      </div>
    </ng-container>

    <ng-template #single>
      <app-product-item
        [product]="singleProduct"
        (addOrDeleteProduct)="addOrDeleteProduct($event)"
      ></app-product-item>

      <div
        class="content__configurator__items__totalPrice"
        [ngClass]="{ smallSize: !product.items }"
      >
        <h6>
          {{ "totalPrice" | translate }}:
          <span>{{ totalPrice ? (totalPrice | myCurrency | async) : 0 }}</span>
        </h6>
      </div>
    </ng-template>

    <div
      class="content__configurator__cart-btn"
      [ngClass]="{ smallSize: !product.items }"
    >
      <button
        *ngIf="product.items; else singleBtn"
        [disabled]="this.needToAddcart.length === 0 || !isConfiguratorAdded"
        (click)="addToCart()"
      >
        {{ "addToCart" | translate }}
      </button>
      <ng-template #singleBtn>
        <button
          [disabled]="this.needToAddcart.length === 0"
          (click)="addToCart()"
        >
          {{ "addToCart" | translate }}
        </button>
      </ng-template>
    </div>
  </div>
</div>

<div class="fixed-price-block" *ngIf="!product.items">
  <div class="fixed-price-block__top">
    <div class="fixed-price-block__text">
      Price:
      {{
        singleProduct.new_price
          ? (singleProduct.new_price | myCurrency | async)
          : (singleProduct.price | myCurrency | async)
      }}
    </div>
    <div class="fixed-price-block__text">
      Total: {{ totalPrice ? (totalPrice | myCurrency | async) : 0 }}
    </div>
  </div>

  <div class="fixed-price-block-bottom">
    <div class="action-btns">
      <app-product-item
        [onlyCounter]="true"
        [product]="singleProduct"
        (addOrDeleteProduct)="addOrDeleteProduct($event)"
      ></app-product-item>
    </div>
    <div class="content__configurator__cart-btn">
      <button
        [disabled]="this.needToAddcart.length === 0"
        (click)="addToCart()"
      >
        {{ "addToCart" | translate }}
      </button>
    </div>
  </div>
</div>
