.content {
  &__configurator {
    margin-top: 20px;

    &__btn {
      margin-bottom: 20px;

      &.navigate {
        margin-top: 15px;
      }

      button {
        padding: 10px 30px;
        font-size: 14px;
        letter-spacing: 0.08em;
        display: inline-block;
        border: 2px solid #00619d;
        color: #000;
        transition: all 0.4s;

        &:hover {
          background-color: #00619d;
          color: #fff;
        }
      }
    }

    &__cart-btn {
      text-align: right;

      @media (max-width: 576px) {
        text-align: center;
      }

      button {
        font-weight: 500 !important;
        text-transform: uppercase !important;
        font-size: 14px !important;
        line-height: 170% !important;
        align-items: center !important;
        cursor: pointer !important;
        padding: 10px 36px !important;
        transition: all 0.4s !important;
        background-color: #00619d !important;
        color: #fff !important;

        &:hover {
          background-color: #000 !important;
          color: #fff !important;
        }

        &:disabled {
          background: grey !important;
          cursor: not-allowed !important;
        }
      }
    }

    &__items {
      &__totalPrice {
        span {
          font-size: 24px;
          font-family: Acherus-Black;
          color: #00619d;
          position: relative;
        }
      }
    }
  }
}

.fixed-price-block {
  display: none;

  @media (max-width: 576px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 8;
    padding: 8px;
    gap: 10px;
    border-top: 2px solid #000;

    &__text {
      font-size: 16px;
      font-family: Acherus-Black;
    }

    &__top {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    &-bottom {
      display: flex;
      justify-content: space-between;
      width: 100%;

      ::ng-deep {
        .calc {
          padding: 0;
        }
      }
    }
  }
}

.content__configurator__items__totalPrice {
  @media (max-width: 576px) {
    h6 {
      text-align: center;
      margin: 10px 0;
    }
  }
}

.smallSize {
  @media (max-width: 576px) {
    display: none;
  }
}
