<div class="content">
  <div class="content__header">
    <div class="content__header__title active">
      INFORMATION AND SPECIFICATION
    </div>
  </div>
  <div class="content__info">
    <h5 class="content__info__title">
      Let's configure your own personalized set!
    </h5>
    <p class="content__info__text">
      FAST 24H SHIPPING! PRODUCT IN STOCK! LAPARO ADVANCE is a professional
      laparoscopic trainer designed especially for INSTITUTIONAL CLIENTS
      (hospitals and hospital wards). It allows practicing manual skills
      associated with minimally invasive surgeries. It was designed for the
      training of physicians, residents, and students. LAPARO ADVANCE is a
      laparoscopy trainer with unique characteristics and software in its price
      range. To start training, log in to Laparo Academy, connect the trainer,
      and start using it. LAPARO ADVANCE contains all elements necessary for
      laparoscopic training including laparoscopic trainer, pediatric
      instruments, training modules, and accessories.
    </p>
    <p class="content__info__text">
      Take advantage of a special offer tailored to your needs!
    </p>
    <p class="content__info__text">
      Create your training set! Add components and get a discount of up to 20%!
    </p>
  </div>

  <div class="content__configurator">
    <div class="content__configurator__btn">
      <button>CREATE YOUR OWN SET</button>
    </div>

    <div class="content__configurator__items">
      <div class="content__configurator__items__product">
        <div class="content__configurator__items__product__left">
          <div class="content__configurator__items__product__img">
            <img src="./assets/image/product-1.png" alt="product" />
          </div>
          <div class="content__configurator__items__product__title">
            <span>Advance</span>
          </div>
        </div>
        <div class="content__configurator__items__product__right">
          <div class="content__configurator__items__product__price">1 060$</div>
          <div class="content__configurator__items__product__calc">
            <button>-</button>
            <input type="text" />
            <button>+</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
