<div class="content">
  <app-product-info></app-product-info>

  <div class="content__configurator">
    <div class="content__configurator__btn">
      <button (click)="toggleConfigurator()">CREATE YOUR OWN SET</button>
    </div>

    <div class="content__configurator__items" *ngIf="configurator">
      <app-product-item
        [product]="mainProduct"
        (addOrDeleteProduct)="addOrDeleteProduct($event)"
      ></app-product-item>

      <div class="content__configurator__items__additional">
        <app-product-additional
          *ngFor="let additional of modules"
          [data]="additional"
          (toggleCollapseHandler)="toggleCollapse($event)"
          (addOrDeleteProduct)="addOrDeleteProduct($event)"
        ></app-product-additional>
      </div>

      <div class="content__configurator__items__totalPrice">
        <h6>
          Total price:
          <span>{{ totalPrice }}</span>
        </h6>
      </div>
    </div>

    <div class="content__configurator__cart-btn">
      <button (click)="addToCart()">Add to cart</button>
    </div>
  </div>
</div>
