<div class="cart-collaterals">
  <div class="cart_totals">
    <div class="cart_totals__info">
      <h5>{{ "total" | translate }}</h5>
      <span>{{ totalPrice | myCurrency | async }}</span>
    </div>

    <div class="wc-proceed-to-checkout">
      <a
        (click)="sentOrder()"
        class="checkout-button button alt wc-forward"
        [ngClass]="{ loading: isLoading }"
      >
        <span *ngIf="!isLoading; else loading">
          {{ "sendOrder" | translate }}
        </span>
        <ng-template #loading>
          <svg-spinner class="d-flex"></svg-spinner
        ></ng-template>
      </a>
    </div>
  </div>
</div>
