<ngx-intersection
  (isIntersecting)="handleIntersection($event)"
  [threshold]="0.25"
>
  <div class="more">
    <div class="container">
      <div class="more__wrapper">
        <div class="more__text">
          <h2>Do you want to see more?</h2>
          <a href="../products">Read more</a>
        </div>
        <div class="more__img" [ngClass]="{ fadeInTop: fade }">
          <img src="./assets/image/more.png" alt="img" />
        </div>
      </div>
    </div>
  </div>
</ngx-intersection>
