<section class="default">
  <div class="grid grid--xl">
    <div class="row">
      <div class="col-lg-12">
        <div class="text">
          <div class="woocommerce">
            <section class="shop__myaccount">
              <div class="grid grid--xl">

                <!-- <nav class="woocommerce-MyAccount-navigation">
                  <ul>
                    <li
                      class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--dashboard is-active"
                    >
                      <a href="https://laparosimulators.com/my-account/"
                        >Dashboard</a
                      >
                    </li>
                    <li
                      class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--orders"
                    >
                      <a href="https://laparosimulators.com/my-account/orders/"
                        >Orders</a
                      >
                    </li>
                    <li
                      class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--downloads"
                    >
                      <a
                        href="https://laparosimulators.com/my-account/downloads/"
                        >Downloads</a
                      >
                    </li>
                    <li
                      class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--edit-address"
                    >
                      <a
                        href="https://laparosimulators.com/my-account/edit-address/"
                        >Addresses</a
                      >
                    </li>
                    <li
                      class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--payment-methods"
                    >
                      <a
                        href="https://laparosimulators.com/my-account/payment-methods/"
                        >Payment methods</a
                      >
                    </li>
                    <li
                      class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--edit-account"
                    >
                      <a
                        href="https://laparosimulators.com/my-account/edit-account/"
                        >Account details</a
                      >
                    </li>
                    <li
                      class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--customer-logout"
                    >
                      <a
                        href="https://laparosimulators.com/my-account/customer-logout/?_wpnonce=c13a75f765"
                        >Log out</a
                      >
                    </li>
                  </ul>
                </nav> -->

                

                <div class="woocommerce-MyAccount-content">
                  <div class="woocommerce-notices-wrapper"></div>
                  <p>
                    Hello <strong>makhmudov.kay</strong> (not
                    <strong>makhmudov.kay</strong>?
                    <a
                      href="https://laparosimulators.com/my-account/customer-logout/?_wpnonce=c13a75f765"
                      >Log out</a
                    >)
                  </p>
                  <p>
                    From your account dashboard you can view your
                    <a href="https://laparosimulators.com/my-account/orders/"
                      >recent orders</a
                    >, manage your
                    <a
                      href="https://laparosimulators.com/my-account/edit-address/"
                      >shipping and billing addresses</a
                    >, and
                    <a
                      href="https://laparosimulators.com/my-account/edit-account/"
                      >edit your password and account details</a
                    >.
                  </p>
                </div>

              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
