<section class="default">
  <div class="grid grid--xl">
    <div class="row">
      <div class="col-lg-12">
        <div class="text">
          <div class="woocommerce">
            <section class="shop__myaccount">
              <div class="grid grid--xl">
                <app-nav-bar></app-nav-bar>
                <div class="woocommerce-MyAccount-content">
                  <router-outlet></router-outlet>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
