<div class="products__col__title">
  <h2
    class="products__col__title__main"
    [ngClass]="{
      orange: product.color === 'orange',
      blue: product.color === 'blue'
    }"
  >
    {{ product.title | translate }}
  </h2>
  <h4 class="products__col__title__sub">{{ product.subtitle | translate }}</h4>
</div>
<div
  class="products__col__info"
  [ngClass]="{
    individ: product.color === 'orange'
  }"
>
  <h3
    class="products__col__info__title"
    [ngClass]="{
      orange: product.color === 'orange',
      blue: product.color === 'blue'
    }"
  >
    {{ product.textTitle | translate }}
  </h3>
  <p class="products__col__info__text">
    {{ product.text | translate }}
  </p>
  <div class="products__col__info__btn">
    <a
      [routerLink]="[product.link]"
      class="products__col__info__btn__link"
      [ngClass]="{
        orange: product.color === 'orange',
        blue: product.color === 'blue'
      }"
    >
      <span>{{ "readMore" | translate }}</span>
      <svg-products-arrow class="d-flex"></svg-products-arrow>
    </a>
  </div>
</div>
