<div class="card">
  <div class="card__title"><span>Mission</span></div>
  <div class="card__text">
    <p>
      <span
        >To enrich patient safety by improving current and future surgery
        education and training with technology based solutions. We are a team of
        engineers with experience and know-how in developing innovative medical
        simulation technology. Our philosophy is to provide a clearly defined
        path to perfection to students and mentors.</span
      >
    </p>
  </div>
</div>
