<nav class="nav-link">
  <ul>
    <li class="nav-link nav-link-dashboard" routerLinkActive="is-active">
      <a routerLink="dashboard">Dashboard</a>
    </li>
    <li class="nav-link nav-link-orders" routerLinkActive="is-active">
      <a routerLink="orders">Orders</a>
    </li>
    <li class="nav-link nav-link-edit-account" routerLinkActive="is-active">
      <a routerLink="details">Account details</a>
    </li>
    <li class="nav-link nav-link-customer-logout" (click)="logout()">
      <a>Log out</a>
    </li>
  </ul>
</nav>
