.nav-link {
  // width: 25% !important;
  float: left;

  @media (max-width: 576px) {
    width: 100%;
    margin-bottom: 30px;
  }

  ul {
    display: flex;
    flex-direction: column;

    @media (max-width: 576px) {
      flex-direction: row;
      gap: 2px;
      justify-content: center;
      width: 100%;
      align-items: center;

      li {
        text-align: center;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          height: 20px;
          background: #00619d;
          width: 2px;
        }
      }
    }

    li {
      padding: 10px 0;

      @media (max-width: 576px) {
        a {
          font-size: 13px;
        }
      }

      a {
        cursor: pointer;
      }
    }
  }
}

.woocommerce-MyAccount-content {
  width: 75% !important;
  font-size: 14px;
  float: right;
}

.nav-link.is-active {
  color: #00619d;
  font-weight: 600;
  font-family: Acherus-Bold;
}

.text li {
  font-size: 0.85rem;
  padding-left: 20px;
  margin-bottom: 15px;
  line-height: 170%;
}

.text a {
  color: #00619d;
}
