<div class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__col">
        <app-logo [footer]="true"></app-logo>
        <ul class="footer__menu sub-logo">
          <li class="footer__menu__item">
            <span>LAPARO Sp. z o.o.</span>
          </li>
          <li class="footer__menu__item">
            <span>Poland, European Union</span>
          </li>
          <li class="footer__menu__item">
            <span>Wrocław, 50-429</span>
          </li>
          <li class="footer__menu__item">
            <span>Wilcza 25C</span>
          </li>
          <li class="footer__menu__item">
            <span>VAT-ID: PL8971818380</span>
          </li>
          <li class="footer__menu__item">
            <span
              >E:
              <a href="mailto:office@laparosimulators.com"
                >office@laparosimulators.com</a
              ></span
            >
          </li>
          <li class="footer__menu__item">
            <span>T: <a href="tel:+48571223170">+48 571 223 170</a></span>
          </li>
        </ul>
      </div>
      <div class="footer__col">
        <h3 class="footer__title">OFFER</h3>
        <ul class="footer__menu">
          <li class="footer__menu__item">
            <a href="">Apex VR</a>
          </li>
          <li class="footer__menu__item">
            <a href="">Analytic</a>
          </li>
          <li class="footer__menu__item">
            <a href="">Advance Training Station</a>
          </li>
          <li class="footer__menu__item">
            <a href="">Advance Portable</a>
          </li>
          <li class="footer__menu__item">
            <a href="">Aspire</a>
          </li>
          <li class="footer__menu__item">
            <a href="">Advance</a>
          </li>
          <li class="footer__menu__item">
            <a href="">Adept "Surgical Skills"</a>
          </li>
        </ul>
      </div>
      <div class="footer__col">
        <h3 class="footer__title">STORE</h3>
        <ul class="footer__menu">
          <li class="footer__menu__item">
            <a href="">Shop</a>
          </li>
          <li class="footer__menu__item">
            <a href="">Shipping & Delivery</a>
          </li>
          <li class="footer__menu__item">
            <a href="">Payment methods</a>
          </li>
          <li class="footer__menu__item">
            <a href="">Terms of service</a>
          </li>
          <li class="footer__menu__item">
            <a href="">Privacy Policy</a>
          </li>
          <li class="footer__menu__item">
            <a href="">FAQ</a>
          </li>
        </ul>
      </div>
      <div class="footer__col">
        <h3 class="footer__title">ABOUT US</h3>
        <ul class="footer__menu">
          <li class="footer__menu__item">
            <a href="">Careers</a>
          </li>
          <li class="footer__menu__item">
            <a href="">Story</a>
          </li>
          <li class="footer__menu__item">
            <a href="">Team</a>
          </li>
          <li class="footer__menu__item">
            <a href="">Contact</a>
          </li>
        </ul>
      </div>
      <div class="footer__col">
        <h3 class="footer__title">PARTNERS</h3>
        <ul class="footer__menu">
          <li class="footer__menu__item">
            <a href="">Become a partner</a>
          </li>
          <li class="footer__menu__item socials">
            <a href="">
              <img src="./assets/image/facebook.png" alt="icon" />
            </a>
            <a href="">
              <img src="./assets/image/instagram.png" alt="icon" />
            </a>
            <a href="">
              <img src="./assets/image/youtube-1.png" alt="icon" />
            </a>
            <a href="">
              <img src="./assets/image/linkedin-1.png" alt="icon" />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
