<section class="default">
  <div class="grid grid--xl">
    <div class="row">
      <div class="col-lg-12">
        <div class="text">
          <div class="woocommerce">
            <section class="shop__account">
              <div class="grid grid--xl">
                <div class="woocommerce-notices-wrapper"></div>
                <div class="success" *ngIf="isSuccess">
                  {{ "passwordRestSuccess" | translate }}
                  <a [routerLink]="['../login']">{{ "login" | translate }}</a>
                </div>
                <form
                  *ngIf="!isSuccess"
                  [formGroup]="form"
                  class="woocommerce-ResetPassword lost_reset_password"
                >
                  <p>
                    {{ "resetPasswordText" | translate }}
                  </p>
                  <div [ngSwitch]="resetPasswordStep">
                    <div *ngSwitchCase="1">
                      <div
                        class="woocommerce-form-row woocommerce-form-row--first form-row form-row-first"
                      >
                        <label for="user_login">{{ "phone" | translate }}</label
                        ><input
                          [mask]="'00 000 00 00'"
                          [prefix]="phonePrefix"
                          [showMaskTyped]="true"
                          class="woocommerce-Input woocommerce-Input--text input-text"
                          type="text"
                          name="user_login"
                          id="user_login"
                          formControlName="phone"
                          autocomplete="username"
                        />

                        <div
                          style="margin-top: 10px"
                          class="woocommerce-form-row form-row"
                        >
                          <button
                            type="submit"
                            class="woocommerce-Button button"
                            value="Reset password"
                            (click)="submit()"
                          >
                            {{ "resetPasswordBtn" | translate }}
                          </button>
                        </div>
                      </div>
                    </div>
                    <div *ngSwitchCase="2">
                      <div
                        class="woocommerce-form-row woocommerce-form-row--first form-row form-row-first"
                      >
                        <label for="user_login">{{
                          "enterSecureCode" | translate
                        }}</label
                        ><input
                          class="woocommerce-Input woocommerce-Input--text input-text"
                          type="text"
                          formControlName="secure_code"
                        />
                        <div
                          style="
                            margin-top: 10px;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                          "
                          class="woocommerce-form-row form-row"
                        >
                          <button
                            type="submit"
                            class="woocommerce-Button button"
                            value="Reset password"
                            (click)="confirmPassword()"
                          >
                            {{ "confirmBtn" | translate }}
                          </button>

                          <span class="resend">
                            <span *ngIf="timer > 0; else resend"
                              >{{ timer }} sec</span
                            >
                            <ng-template #resend>
                              <a (click)="resendCode()">{{
                                "resendCode" | translate
                              }}</a>
                            </ng-template>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div *ngSwitchCase="3">
                      <div
                        class="woocommerce-form-row woocommerce-form-row--first form-row form-row-first"
                      >
                        <label for="user_login">{{
                          "createNewPassword" | translate
                        }}</label
                        ><input
                          class="woocommerce-Input woocommerce-Input--text input-text"
                          type="text"
                          formControlName="password"
                        />
                        <small
                          class="error"
                          *ngIf="
                            form.get('password')?.touched &&
                            form.get('password')?.invalid
                          "
                          >{{ "minLengthPassword" | translate }}</small
                        >
                        <div
                          style="margin-top: 10px"
                          class="woocommerce-form-row form-row"
                        >
                          <button
                            type="submit"
                            class="woocommerce-Button button"
                            value="Reset password"
                            (click)="createNewPassword()"
                          >
                            {{ "createNewPassword" | translate }}
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
