<div class="product">
  <div class="product__wrapper">
    <div class="product__info" routerLink="">
      <div class="product__info__img">
        <img [src]="item.image" alt="product" />
      </div>
      <div class="product__info__text">
        {{ item.title | myTranslate | async }}
      </div>
    </div>
    <div class="product__delete-btn">
      <button (click)="deleteFromBasket(item.id)">X</button>
    </div>
  </div>

  <div class="product__price">
    {{
      item.count +
        " X " +
        (item.discount > 0
          ? (item.new_price | myCurrency | async)
          : (item.price | myCurrency | async)) +
        " = " +
        (item.totalPrice | myCurrency | async)
    }}
  </div>
</div>
