<div class="header">
  <div class="container container__header">
    <div class="header-wrapper">
      <!-- LOGO -->
      <app-logo></app-logo>
      <!-- MENU -->
      <div class="header-wrapper__navbar">
        <app-menu></app-menu>
      </div>
      <!-- LANGUAGE AND CART -->
      <div class="header-wrapper__lang-and-cart">
        <!-- BURGER -->
        <div class="burger" (click)="openDrawer()">
          <svg-burger></svg-burger>
        </div>
        <!-- LANGUAGE -->
        <app-language></app-language>
        <!-- LOGIN -->
        <div class="user" (click)="navigate()">
          <svg-user></svg-user>
        </div>
        <!-- CART -->
        <app-cart></app-cart>
      </div>
    </div>
  </div>
</div>

<div class="drawer" [ngClass]="{ open: isDrawer }">
  <app-menu (closeDrawer)="closeDrawer($event)" [isDrawer]="true"></app-menu>
</div>
