<div class="header">
  <div class="container">
    <div class="header-wrapper">
      <!-- LOGO -->
      <div class="header-wrapper__logo"><svg-logo></svg-logo></div>
      <!-- MENU -->
      <div class="header-wrapper__navbar">
        <app-menu></app-menu>
      </div>
      <!-- LANGUAGE AND CART -->
      <div class="header-wrapper__lang-and-cart">
        <!-- BURGER -->
        <div class="burger" (click)="openDrawer()">
          <svg-burger></svg-burger>
        </div>
        <!-- LANGUAGE -->
        <app-language></app-language>
        <!-- CART -->
        <app-cart></app-cart>
      </div>
    </div>
  </div>
</div>

<div class="drawer" [ngClass]="{ open: isDrawer }">
  <app-menu [isDrawer]="true"></app-menu>
</div>
