<section class="genesis">
  <div class="container">
    <h4 class="section-title">{{ "proffSeries" | translate }}</h4>
    <div class="genesis__wrapper">
      <div class="genesis__text">
        <div class="genesis__text__title">
          <div class="genesis__text__title__rotate">
            {{ "genesis" | translate }}
          </div>
        </div>
      </div>
      <div class="genesis__content">
        <h4 class="genesis__content__title">{{ "genesis" | translate }}</h4>
        <div class="genesis__content__text">
          <p>
            {{ "genesisText1" | translate }}
          </p>
          <p>
            {{ "genesisText2" | translate }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
