<section class="genesis">
  <div class="container">
    <h4 class="section-title">PROFESSIONAL SERIES</h4>
    <div class="genesis__wrapper">
      <div class="genesis__text">
        <div class="genesis__text__title">
          <div class="genesis__text__title__rotate">Genesis</div>
        </div>
      </div>
      <div class="genesis__content">
        <h4 class="genesis__content__title">Genesis</h4>
        <div class="genesis__content__text">
          <p>
            Laparoscopy is an approach to minimally invasive surgery in which
            the patient's organs are never exposed to the outside environment.
            The surgeon only makes several incisions into which trocars are
            inserted. They then act as a guide for the long and thin instruments
            which are inserted into the body along with an endoscopic camera.
          </p>
          <p>
            Laparoscopy is frequently heralded as surgery of the future. Every
            year many routine procedures are being adapted to the Laparoscopic
            approach. Many are already routine. The humble beginnings of
            Laparoscopy go all the way back back to 1805, but it has been
            becoming safe and widespread since the 1980’s when video technology
            became accessible.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
