<div class="card" [ngClass]="{ isFirst: isFirst, smallCard: isSmCard }">
  <img src="./assets/image/blog-1.jpg" alt="img" class="card__img" />
  <div class="card__content">
    <div class="card__content__date">30/08/2023</div>
    <h4 class="card__content__title">Esophageal Atresia – Physical Mo...</h4>
    <p class="card__content__text" *ngIf="!isSmCard">
      Recently, we showed you what esophageal atresia looks like in virtual
      reality. Today it's time for the physics module of the proce...
    </p>
    <div class="card__content__btn">
      <app-link-btn></app-link-btn>
    </div>
  </div>
</div>
