<div
  class="card"
  [ngClass]="{ isFirst: isFirst, smallCard: isSmCard, withoutImg: withoutImg }"
>
  <img
    *ngIf="!withoutImg"
    [src]="data.preview_image"
    alt="img"
    class="card__img"
  />
  <div class="card__content">
    <div class="date-view-style">
      {{ data.created_at | date : "dd.MM.yyyy" }}
    </div>
    <h4 class="card__content__title">{{ data.title | myTranslate | async}}</h4>

    <!-- TODO: REMOVE OR IMPLEMENT -->
    <!-- <p class="card__content__text" *ngIf="!isSmCard">
      Recently, we showed you what esophageal atresia looks like in virtual
      reality. Today it's time for the physics module of the proce...
    </p> -->

    <div class="card__content__btn">
      <app-link-btn [link]="[data.id]"></app-link-btn>
    </div>
  </div>
</div>
