<section class="analytic__specification">
  <div class="grid grid--xl">
    <div class="heading heading--right">
      <h4 class="section-title">{{ specifications.title | translate}}</h4>
    </div>
    <h2 class="blue">{{ specifications.title | translate}}</h2>
  </div>
  <div class="grid grid--sm">
    <div class="specifications">
      <div class="row row60">
        <div class="col-lg-6" *ngFor="let list of specifications.list">
          <div class="specification">
            <div class="category">{{ list.category | translate}}</div>
            <div class="options">
              <div class="option" *ngFor="let option of list.options">
                <div class="title">{{ option.title | translate}}</div>
                <div class="value">{{ option.value | translate}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
