<div class="product-list">
  <div class="container">
    <div class="product-list__new">
      <div class="product-list__new__title">
        <h3 class="title">NEW PRODUCTS</h3>
        <h4 class="section-title">New products</h4>
      </div>
      <div class="product-list__row">
        <div class="product-list__col" *ngFor="let card of [].constructor(4)">
          <app-product-card></app-product-card>
        </div>
      </div>
    </div>
    <div class="product-list__new all">
      <div class="product-list__new__title">
        <h3 class="title">{{ "allProducts" | translate }}</h3>
        <h4 class="section-title">NEW STUFF</h4>
      </div>
      <div
        class="product-list__categories"
        *ngIf="category$ | async as categories"
      >
        <app-categories [isDetail]="true" [data]="categories"></app-categories>
      </div>
      <div class="product-list__row wrap" *ngIf="product$ | async as product">
        <div class="product-list__col" *ngFor="let p of product.results">
          <app-product-card [data]="p"></app-product-card>
        </div>
      </div>
      <div class="product-list__pagination">
        <app-pagination></app-pagination>
      </div>
    </div>
  </div>
  <div class="product-list__subscribe">
    <app-subscribe></app-subscribe>
  </div>
</div>
