<div class="product-list">
  <div class="container">
    <ng-container
      *ngIf="discountProduct$ | async as discountProducts; else emptyDiscount"
    >
      <div class="product-list__new" *ngIf="discountProducts.length">
        <div class="product-list__new__title">
          <h3 class="title">{{ "discounts" | translate }}</h3>
          <h4 class="section-title">{{ "discounts" | translate }}</h4>
        </div>
        <div class="product-list__row">
          <div
            class="product-list__col"
            *ngFor="let discount of discountProducts | slice : 0 : 4"
          >
            <app-product-card [data]="discount"></app-product-card>
          </div>
        </div>
      </div>
    </ng-container>

    <div class="product-list__new all">
      <div class="product-list__new__title">
        <h3 class="title">{{ "allProducts" | translate }}</h3>
        <h4 class="section-title">{{ "allProducts" | translate }}</h4>
      </div>
      <div
        class="product-list__categories"
        *ngIf="category$ | async as categories"
      >
        <app-categories
          (seartValue)="search($event)"
          [isDetail]="true"
          [data]="categories"
          (resetInputHandler)="getAllProducts()"
        ></app-categories>
      </div>
      <ng-container *ngIf="product$ | async as product; else empty">
        <div
          class="product-list__row wrap"
          *ngIf="product.results && product.results.length; else emptyList"
        >
          <div class="product-list__col" *ngFor="let p of product.results">
            <app-product-card [data]="p"></app-product-card>
          </div>
        </div>

        <ng-template #emptyList>
          <div class="empty-list">
            <h3>{{ "emptyList" | translate }}</h3>
          </div>
        </ng-template>
        <div class="product-list__pagination">
          <app-pagination
            [total]="product.count"
            [pageIndex]="pageIndex"
            (pageIndexChange)="handlePageIndexChange($event)"
          ></app-pagination>
        </div>
      </ng-container>
    </div>

    <ng-template #empty>
      <div class="product-list__row wrap">
        <div class="product-list__col" *ngFor="let p of [].constructor(12)">
          <app-empty-card></app-empty-card>
        </div>
      </div>
    </ng-template>
    <ng-template #emptyDiscount>
      <div class="product-list__row wrap">
        <div class="product-list__col" *ngFor="let p of [].constructor(4)">
          <app-empty-card></app-empty-card>
        </div>
      </div>
    </ng-template>
  </div>
  <!-- <div class="product-list__subscribe">
    <app-subscribe></app-subscribe>
  </div> -->
</div>
