<section class="information-icon">
  <div class="information-icon__block__icons">
    <div class="grid grid--sm">
      <div class="information-icon__icall">
        <div class="row">
          <div class="col-md-4" *ngFor="let icons of iconsData">
            <div class="information-icon__icon">
              <img [src]="icons.img" alt="image" />
            </div>
            <div class="information-icon__title">
              <p>{{ icons.title | translate}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
