<section class="order-list">
  <h2>{{ "myOrders" | translate }}</h2>

  <ng-container *ngIf="order$ | async as orderList; else empty">
    <div
      class="order-list__block"
      *ngFor="let order of orderList; let id = index"
    >
      <h4 class="id" (click)="openOrder(id)">
        <span>ID Заказа: {{ order.id }}</span>
        <span class="svg"><svg-arrow-btn class="d-flex"></svg-arrow-btn></span>
      </h4>
      <h4 class="date">
        {{ "dateOfOrder" | translate }}:
        {{ order.created_at }}
      </h4>
      <div
        class="product-list__row wrap"
        [ngClass]="{ isOpen: currentId === id }"
      >
        <div
          class="product-list__col"
          *ngFor="let product of order.order_products"
        >
          <app-product-card [data]="product"></app-product-card>
        </div>
      </div>
    </div>
  </ng-container>
</section>

<ng-template #empty>
  <div class="product-list__row wrap">
    <div class="product-list__col" *ngFor="let p of [].constructor(6)">
      <app-empty-card></app-empty-card>
    </div>
  </div>
</ng-template>
