<section class="analytic__multiple">
  <div class="grid grid--xl">
    <div class="heading heading--right">
      <h4 class="section-title">MULTIPLE ACCOUNTS</h4>
    </div>
  </div>
  <div class="multiple">
    <div class="grid grid--hd">
      <div class="row align-items-center">
        <div class="col-lg-4">
          <img [src]="data.img" alt="" />
        </div>
        <div class="col-lg-6">
          <div class="content">
            <h2 class="blue">{{ data.title | translate}}</h2>
            <div class="text text--14">
              {{ data.text | translate}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
