<app-banner></app-banner>
<section class="video">
  <video class="video__movie" controls="">
    <source src="./assets/video/apex-pro-video.mp4" type="video/mp4" />
  </video>
</section>
<ng-container *ngFor="let data of dataInformations; let id = index">
  <app-realistic-simulation
    [data]="data"
    [even]="id % 2 !== 0"
  ></app-realistic-simulation>
</ng-container>
<app-touched-image [imageInfo]="apexImageData"></app-touched-image>
<app-about></app-about>
<app-gallery></app-gallery>
<app-specification [specifications]="apexSpecification"></app-specification>
<app-send-form></app-send-form>
