<section class="analytic__features">
  <div class="grid grid--xl">
    <div class="analytic__features__title">{{ "sixSteps" | translate }}</div>
  </div>
  <div class="features">
    <div class="grid grid--xsm">
      <div class="features__wrap">
        <div class="row">
          <div class="col-lg-4">
            <div class="feature">
              <div class="feature__img">
                <img [src]="data.first.img" alt="" />
                <div class="analysis-line">
                  <svg
                    width="123"
                    height="9"
                    viewBox="0 0 123 9"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <line
                      x1="4.37114e-08"
                      y1="4.5"
                      x2="122"
                      y2="4.50001"
                      stroke="#00619D"
                    ></line>
                    <path d="M118 8.5L122 4.5L118 0.5" stroke="#00619D"></path>
                  </svg>
                </div>
              </div>
              <div class="title_shadow">1</div>
              <div class="title">{{ data.first.title | translate }}</div>
              <div class="text text--14">
                {{ data.first.text | translate }}
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="feature">
              <div class="feature__img">
                <img [src]="data.second.img" alt="" />
                <div class="analysis-line">
                  <svg
                    width="123"
                    height="9"
                    viewBox="0 0 123 9"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <line
                      x1="4.37114e-08"
                      y1="4.5"
                      x2="122"
                      y2="4.50001"
                      stroke="#00619D"
                    ></line>
                    <path d="M118 8.5L122 4.5L118 0.5" stroke="#00619D"></path>
                  </svg>
                </div>
              </div>
              <div class="title_shadow">2</div>
              <div class="title">{{ data.second.title | translate }}</div>
              <div class="text text--14">
                {{ data.second.text | translate }}
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="feature">
              <div class="feature__img">
                <img [src]="data.third.img" alt="" />
                <div class="analysis-line-big">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="302.207"
                    height="363.354"
                    viewBox="0 0 302.207 363.354"
                  >
                    <g
                      id="Group_1"
                      data-name="Group 1"
                      transform="translate(-821.793 -365)"
                    >
                      <path
                        id="Ellipse_35"
                        data-name="Ellipse 35"
                        d="M0,359c98.859,0,179-80.641,179-179.5A179,179,0,0,0,0,.5"
                        transform="translate(944.5 365)"
                        fill="none"
                        stroke="#00619d"
                        stroke-width="1"
                      ></path>
                      <g
                        id="Group_551"
                        data-name="Group 551"
                        transform="translate(821.5 719)"
                      >
                        <line
                          id="Line_1"
                          data-name="Line 1"
                          x1="122"
                          transform="translate(1 5)"
                          fill="none"
                          stroke="#00619d"
                          stroke-width="1"
                        ></line>
                        <path
                          id="Path_1"
                          data-name="Path 1"
                          d="M5,1,1,5,5,9"
                          fill="none"
                          stroke="#00619d"
                          stroke-width="1"
                        ></path>
                      </g>
                      <line
                        id="Line_98"
                        data-name="Line 98"
                        x2="122"
                        transform="translate(822.5 365.5)"
                        fill="none"
                        stroke="#00619d"
                        stroke-width="1"
                      ></line>
                    </g>
                  </svg>
                </div>
              </div>
              <div class="title_shadow">3</div>
              <div class="title">{{ data.third.title | translate }}</div>
              <div class="text text--14">
                {{ data.third.text | translate }}
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="feature">
              <div class="feature__img">
                <img [src]="data.fourth.img" alt="" />
                <div class="analysis-line">
                  <svg
                    width="123"
                    height="10"
                    viewBox="0 0 123 10"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <line
                      x1="123"
                      y1="5"
                      x2="1"
                      y2="4.99998"
                      stroke="#00619D"
                    ></line>
                    <path d="M5 1L1 5L5 9" stroke="#00619D"></path>
                  </svg>
                </div>
              </div>
              <div class="title_shadow">6</div>
              <div class="title">{{ data.fourth.title | translate }}</div>
              <div class="text text--14">
                {{ data.third.text | translate }}
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="feature">
              <div class="feature__img">
                <img [src]="data.fivth.img" alt="" />
                <div class="analysis-line">
                  <svg
                    width="123"
                    height="10"
                    viewBox="0 0 123 10"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <line
                      x1="123"
                      y1="5"
                      x2="1"
                      y2="4.99998"
                      stroke="#00619D"
                    ></line>
                    <path d="M5 1L1 5L5 9" stroke="#00619D"></path>
                  </svg>
                </div>
              </div>
              <div class="title_shadow">5</div>
              <div class="title">{{ data.fivth.title | translate }}</div>
              <div class="text text--14">
                {{ data.fivth.text | translate }}
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="feature">
              <div class="feature__img">
                <img [src]="data.sixth.img" alt="" />
              </div>
              <div class="title_shadow">4</div>
              <div class="title">{{ data.sixth.title | translate }}</div>
              <div class="text text--14">
                {{ data.sixth.text | translate }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
