<app-banner [data]="bannerData"></app-banner>
<app-introduction [data]="introductionData"></app-introduction>
<app-info-blocks [data]="infoBlockData"></app-info-blocks>
<app-touched-image [imageInfo]="apexVRImageData"></app-touched-image>
<app-features [data]="apexVRFeatures"></app-features>
<app-analysis [data]="analysis"></app-analysis>
<app-software [data]="software"></app-software>
<app-paralax [paralax]="paralax"></app-paralax>
<app-network [data]="networking"></app-network>
<app-specification [specifications]="apexVRSpecification"></app-specification>
<app-partners [hideTitle]="true"></app-partners>
<app-send-form></app-send-form>
