<section class="product-single">
  <div class="grid grid--xl">
    <div class="presentation">
      <div class="row row60">
        <div class="col-lg-5">
          <app-product-detail-title></app-product-detail-title>
          <div class="presentation-images">
            <!-- SWIPER -->
          </div>
        </div>
        <div class="col-lg-7">
          <app-product-tabs></app-product-tabs>
          <app-tab-content></app-tab-content>
        </div>
      </div>
    </div>
    <app-product-share></app-product-share>
  </div>
</section>
