<div class="card">
  <div class="award-card__date">2021</div>
  <div class="award-card">
    <h3 class="award-card__title">
      LAPARO awarded in the Best Medical Device for Scalable Solutions in
      Surgical Simulation category
    </h3>
    <p class="award-card__text">
      This year's awards saw entries from around the world who have set the
      standard for innovation and creativity in the MedTech field.
    </p>
    <div class="award-card__btn">
      <a href="">
        <span>Read more</span>
        <svg-products-arrow class="d-flex"></svg-products-arrow>
      </a>
    </div>
  </div>
</div>
