<section class="shop__account">
  <div class="grid grid--xl">
    <div class="woocommerce-notices-wrapper"></div>
    <div class="u-columns row row30">
      <div class="u-column1 col-lg-6">
        <app-auth
          [formType]="'login'"
          [form]="loginFormGroup"
          (submit)="submit($event)"
        ></app-auth>
      </div>
      <div class="u-column2 col-lg-6">
        <app-auth
          [formType]="'register'"
          [form]="registrationFormGroup"
          (submit)="submit($event)"
        ></app-auth>
      </div>
    </div>
  </div>
</section>
