<div class="reg-success grid grid--xl" *ngIf="isSuccess">
  <p>{{ "successAuth" | translate }}</p>
</div>
<section class="shop__account">
  <div class="grid grid--xl">
    <div class="woocommerce-notices-wrapper"></div>
    <div class="u-columns row row30">
      <div class="u-column1 col-lg-6">
        <app-auth
          [formType]="'login'"
          [form]="loginFormGroup"
          (submit)="submit($event)"
          [validator]="loginValidator"
        ></app-auth>
      </div>
      <div class="u-column2 col-lg-6">
        <app-auth
          *ngIf="!confirm"
          [formType]="'register'"
          [form]="registrationFormGroup"
          (submit)="submit($event)"
          [validator]="registerValidator"
        ></app-auth>

        <app-confirm
          *ngIf="confirm"
          [form]="confirmFormGroup"
          (submit)="submit($event)"
          [formType]="'confirm'"
        ></app-confirm>
      </div>
    </div>
  </div>
</section>
