<div class="product" *ngIf="!onlyCounter; else counter">
  <div class="product__left" (click)="openModuleSlider.emit(product.id)">
    <div class="product__img">
      <img [src]="product.image" alt="product" />
    </div>
    <div class="product__title">
      <span>{{ product.title | myTranslate | async }}</span>
    </div>
  </div>
  <div class="product__right">
    <div class="product__price" [ngClass]="{ discount: product.discount > 0 }">
      <strong> {{ product.price | myCurrency | async }}</strong>
    </div>
    <div class="product__discount" *ngIf="product.discount > 0">
      <strong> {{ product.new_price | myCurrency | async }}</strong>
    </div>

    <div [ngClass]="{ 'hide-in-mobile': !isConfigurator }">
      <app-calc-input
        (countChangeDecrease)="decrease()"
        (countChangeIncrease)="increase()"
        [count]="count"
      ></app-calc-input>
    </div>
  </div>
</div>

<ng-template #counter>
  <app-calc-input
    (countChangeDecrease)="decrease()"
    (countChangeIncrease)="increase()"
    [count]="count"
  ></app-calc-input>
</ng-template>
