.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;

  @media (max-width: 576px) {
    flex-direction: column;
    gap: 10px;
  }

  &__left {
    display: flex;
    align-items: center;
  }

  &__right {
    display: flex;
    align-items: center;

    @media (max-width: 576px) {
      // flex-direction: column;
      // width: 100%;
      flex-wrap: wrap;
      gap: 10px;
    }
  }

  &__img {
    width: 40px;
    height: auto;
    padding-right: 10px;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__title {
    text-align: left;
    flex-grow: 1;
    padding-right: 10px;
    color: #000;
    font-family: Acherus-Bold;

    @media (max-width: 992px) {
      text-align: center;
    }
  }

  &__discount {
    margin-right: 10px;
    color: #00619d;

    @media (max-width: 576px) {
      font-size: 24px;
    }
  }

  &__price {
    padding-right: 10px;

    @media (max-width: 576px) {
      font-size: 16px;
    }

    &.discount {
      color: #000;
      text-decoration: line-through;
    }
  }
}

.hide-in-mobile {
  @media (max-width: 576px) {
    display: none;
  }
}
