<div class="product-card-wrapper">
  <div class="product-card" [routerLink]="['../', data.id]">
    <div class="product-card__img">
      <img [src]="data.image" alt="card" />
    </div>
    <div class="product-card__info">
      <h4 class="product-card__title">
        {{ data.title | myTranslate | async }}
      </h4>
      <!-- <p class="product-card__text">4 COMPLETE COURSES IN ONE SET</p> -->
      <span class="product-card__price"
        ><strong>{{ data.price | myCurrency | async }}</strong></span
      >
    </div>
  </div>
  <div class="product-card-wrapper__cart">
    <div class="product-card-wrapper__cart__icon">
      <svg-add-to-cart class="d-flex"></svg-add-to-cart>
    </div>
  </div>
</div>
