<div class="blog">
  <div class="container" *ngIf="blog">
    <div class="blog__wrapper">
      <div class="blog__list">
        <app-posts [data]="blog.results"></app-posts>

        <div
          class="blog__btn"
          *ngIf="blog.count > PAGE_SIZE * pageIndex"
          (click)="handlePageIndexChange(pageIndex + 1)"
        >
          <button>
            <span>{{ "morePosts" | translate }}</span
            ><svg-arrow></svg-arrow>
          </button>
        </div>
      </div>

      <div class="blog__menu">
        <!-- TODO: IMPLEMENT OR REMOVE -->
        <!-- <app-categories></app-categories> -->

        <app-popular
          [title]="'mostPopular'"
          [data]="popular$ | async"
        ></app-popular>

        <!-- TODO: IMPLEMENT OR REMOVE -->
        <!-- <app-popular [title]="'Editor pick'"></app-popular> -->
      </div>
    </div>
  </div>
</div>
<app-subscribe></app-subscribe>
