<section class="information eight-section">
  <div class="information__block">
    <div class="grid grid--md">
      <div class="row g-0 no-gutters">
        <div class="col-md-6 pr-0">
          <div class="information__block__text">
            <h2 class="title">Step into the future of surgical training</h2>
            <span class="description"
              ><div>
                In Laparo Apex Pro, training analysis takes surgical education
                to a whole new level. The simulator offers comprehensive
                performance metrics and detailed feedback to assess trainees’
                proficiency and progress. Advanced tracking systems capture and
                analyze key parameters, such as instrument movement and
                smoothness, providing valuable insights into trainees’ technique
                and skill development. The training analysis feature allows for
                objective evaluation, facilitating targeted improvements. With
                Laparo Apex Pro’s sophisticated analysis capabilities,
                institutions and educators can track trainees’ performance,
                identify areas for improvement, and ensure the highest standards
                of surgical competency.
              </div>
              <div></div
            ></span>
          </div>
        </div>
        <div class="col-md-6 pl-0">
          <img
            class="information__block__img"
            src="./assets/image/apex-pro-about.jpg"
            alt="image"
          />
        </div>
      </div>
    </div>
  </div>
</section>
