<section class="information eight-section">
  <div class="information__block">
    <div class="grid grid--md">
      <div class="row g-0 no-gutters">
        <div class="col-md-6 pr-0">
          <div class="information__block__text">
            <h2 class="title">{{ "apexProAbout" | translate }}</h2>
            <span class="description"
              ><div>
                {{ "apexProAboutText" | translate }}
              </div>
              <div></div
            ></span>
          </div>
        </div>
        <div class="col-md-6 pl-0">
          <img
            class="information__block__img"
            src="./assets/image/apex-pro-about.jpg"
            alt="image"
          />
        </div>
      </div>
    </div>
  </div>
</section>
