<div class="our-story">
  <div class="container">
    <div class="our-story__header">
      <h2 class="our-story__header__title">{{ "ourStory" | translate }}</h2>
      <h4 class="section-title our-story__header__subtitle">
        {{ "ourStory" | translate }}
      </h4>
    </div>
    <div class="our-story__content">
      <div class="our-story__content__description">
        <p>
          {{ "ourStoryText" | translate }}
        </p>
        <!-- <div class="our-story__content__link">
          <app-link-btn></app-link-btn>
        </div> -->
      </div>
      <div
        class="our-story__content__img opacity-0"
        [ngClass]="{ fadeInRight: fade }"
      >
        <ngx-intersection
          (isIntersecting)="handleIntersection($event)"
          [threshold]="0.25"
        >
          <img src="./assets/image/our-story-img.png" alt="img" />
        </ngx-intersection>
      </div>
    </div>
  </div>
</div>
