<div class="our-story">
  <div class="container">
    <div class="our-story__header">
      <h2 class="our-story__header__title">Our Story</h2>
      <h4 class="section-title our-story__header__subtitle">Our Story</h4>
    </div>
    <div class="our-story__content">
      <div class="our-story__content__description">
        <p>
          LAPARO was originally founded by three friends with a passion for
          medical technology. They started from a simple idea: they knew that
          manual practice is important for surgeons, and how dangerous and
          expensive it can be to make a mistake in that field. They began by
          designing their first basic laparoscopic simulator and their global
          adventure began.
        </p>
        <div class="our-story__content__link">
          <app-link-btn></app-link-btn>
        </div>
      </div>
      <div class="our-story__content__img">
        <img src="./assets/image/our-story-img.png" alt="img" />
      </div>
    </div>
  </div>
</div>
