<section class="product__aspire">
  <div class="grid grid--xl">
    <div class="heading">
      <h4 class="section-title">Training is the keys</h4>
    </div>
    <div class="aspire">
      <div class="row">
        <div class="col-lg-2">
          <div class="title-rotate"><span>Introduction</span></div>
        </div>
        <div class="col-lg-10">
          <h5 class="text">
            {{ data.aspireText | translate}}
          </h5>
          <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-10">
              <div class="aspire__img">
                <video class="movie" controls="">
                  <source [src]="data.video" type="video/mp4" />
                </video>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
