<ul class="list" *ngIf="!isDrawer; else drawer">
  <li class="list__item submenu">
    <a class="list__item__link" href="">Products <svg-arrow></svg-arrow></a>

    <ul class="submenu__list">
      <!-- INDIVIDUALS -->
      <li class="submenu__list__item">
        <a href="" class="submenu__list__item__link"
          >INDIVIDUALS – Affordable Laparoscopic Simulators</a
        >
        <ul class="menu">
          <li class="menu__item">
            <a href="">Advance – Professional Simulator</a>
          </li>
          <li class="menu__item">
            <a href="">Aspire – Simple Training Box</a>
          </li>
          <li class="menu__item">
            <a href="">Adept – Basic Surgical Skills</a>
          </li>
        </ul>
      </li>

      <!-- PROFESSIONALS -->
      <li class="submenu__list__item">
        <a href="" class="submenu__list__item__link"
          >PROFESSIONALS – Advanced Laparoscopic Simulators</a
        >
        <ul class="menu">
          <li class="menu__item">
            <a href="">!NEW! Apex Pro – Hybrid Simulator</a>
          </li>
          <li class="menu__item">
            <a href="">Apex VR – Mixed Reality Simulator</a>
          </li>
          <li class="menu__item">
            <a href="">Analytic – Simulation with Analysis</a>
          </li>
          <li class="menu__item">
            <a href="">Advance Training Station</a>
          </li>
          <li class="menu__item">
            <a href="">Advance Portable</a>
          </li>
        </ul>
      </li>

      <!-- OTHER -->
      <li class="submenu__list__item">
        <a href="" class="submenu__list__item__link">Other</a>
        <ul class="menu">
          <li class="menu__item">
            <a href="">Laparoscopic Instruments</a>
          </li>
          <li class="menu__item">
            <a href="">Training Modules</a>
          </li>
          <li class="menu__item">
            <a href="">FLS & E-BLUS Exam Sets</a>
          </li>
          <li class="menu__item">
            <a href="">Accesories</a>
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li class="list__item">
    <a class="list__item__link" href="">About us</a>
  </li>
  <li class="list__item">
    <a class="list__item__link" href="">Blog</a>
  </li>
  <li class="list__item">
    <a class="list__item__link" href="">Contact</a>
  </li>
</ul>

<ng-template #drawer>
  <ul class="drawer">
    <li class="drawer__item submenu">
      <a class="drawer__item__link" href="">Products</a>

      <ul class="submenu__drawer">
        <!-- INDIVIDUALS -->
        <li class="submenu__drawer__item">
          <a href="" class="submenu__drawer__item__link"
            >INDIVIDUALS – Affordable Simulators</a
          >
          <ul class="drawer-menu">
            <li class="drawer-menu__item">
              <a href="">Advance – Professional Simulator</a>
            </li>
            <li class="drawer-menu__item">
              <a href="">Aspire – Simple Training Box</a>
            </li>
            <li class="drawer-menu__item">
              <a href="">Adept – Basic Surgical Skills</a>
            </li>
          </ul>
        </li>

        <!-- PROFESSIONALS -->
        <li class="submenu__drawer__item">
          <a href="" class="submenu__drawer__item__link"
            >PROFESSIONALS – Advanced Simulators</a
          >
          <ul class="drawer-menu">
            <li class="drawer-menu__item">
              <a href="">!NEW! Apex Pro – Hybrid Simulator</a>
            </li>
            <li class="drawer-menu__item">
              <a href="">Apex VR – Mixed Reality Simulator</a>
            </li>
            <li class="drawer-menu__item">
              <a href="">Analytic – Simulation with Analysis</a>
            </li>
            <li class="drawer-menu__item">
              <a href="">Advance Training Station</a>
            </li>
            <li class="drawer-menu__item">
              <a href="">Advance Portable</a>
            </li>
          </ul>
        </li>

        <!-- OTHER -->
        <li class="submenu__drawer__item">
          <a href="" class="submenu__drawer__item__link">Other</a>
          <ul class="drawer-menu">
            <li class="drawer-menu__item">
              <a href="">Laparoscopic Instruments</a>
            </li>
            <li class="drawer-menu__item">
              <a href="">Training Modules</a>
            </li>
            <li class="drawer-menu__item">
              <a href="">FLS & E-BLUS Exam Sets</a>
            </li>
            <li class="drawer-menu__item">
              <a href="">Accesories</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="drawer__item">
      <a class="drawer__item__link" href="">About us</a>
    </li>
    <li class="drawer__item">
      <a class="drawer__item__link" href="">Blog</a>
    </li>
    <li class="drawer__item">
      <a class="drawer__item__link" href="">Contact</a>
    </li>
  </ul>
</ng-template>
