<ul class="list" *ngIf="!isDrawer; else drawer">
  <li class="list__item submenu">
    <a class="list__item__link" routerLink="../products"
      >{{ "products" | translate }} <svg-arrow></svg-arrow
    ></a>

    <ul class="submenu__list">
      <!-- INDIVIDUALS -->
      <li class="submenu__list__item">
        <a
          routerLink="../products/individuals"
          class="submenu__list__item__link"
          >{{ "individualsProducts" | translate }}</a
        >
        <ul class="menu">
          <li class="menu__item">
            <a
              [routerLink]="['../products/list']"
              [queryParams]="{ category_id: '2' }"
              >{{ "advance" | translate }}</a
            >
          </li>
          <li class="menu__item">
            <a
              [routerLink]="['../products/list']"
              [queryParams]="{ category_id: '6' }"
              >{{ "aspire" | translate }}</a
            >
          </li>
          <li class="menu__item">
            <a
              [routerLink]="['../products/list']"
              [queryParams]="{ category_id: '7' }"
              >{{ "adept" | translate }}</a
            >
          </li>
        </ul>
      </li>
      <!-- PROFESSIONALS -->
      <li class="submenu__list__item">
        <a
          routerLink="../products/professionals"
          class="submenu__list__item__link"
          >{{ "professionals" | translate }}</a
        >
        <ul class="menu">
          <li class="menu__item">
            <a routerLink="../products/apex-pro">{{ "apexPro" | translate }}</a>
          </li>
          <li class="menu__item">
            <a routerLink="../products/apex-vr">{{ "apexVr" | translate }}</a>
          </li>
          <li class="menu__item">
            <a routerLink="../products/analytic">{{
              "analytic" | translate
            }}</a>
          </li>
          <li class="menu__item">
            <a routerLink="../products/advance-training-station">{{
              "advanceTraining" | translate
            }}</a>
          </li>
          <li class="menu__item">
            <a routerLink="../products/advance-portable">{{
              "advancePortable" | translate
            }}</a>
          </li>
        </ul>
      </li>

      <!-- OTHER -->
      <li class="submenu__list__item">
        <a
          [routerLink]="['../products/list']"
          [queryParams]="{ category_id: '3' }"
          class="submenu__list__item__link"
          >{{ "other" | translate }}</a
        >
        <ul class="menu">
          <li class="menu__item">
            <a
              [routerLink]="['../products/list']"
              [queryParams]="{ category_id: '5' }"
              >{{ "laparoscopic" | translate }}</a
            >
          </li>
          <li class="menu__item">
            <a
              [routerLink]="['../products/list']"
              [queryParams]="{ category_id: '6' }"
              >{{ "training" | translate }}</a
            >
          </li>
          <li class="menu__item">
            <a
              [routerLink]="['../products/list']"
              [queryParams]="{ category_id: '4' }"
              >{{ "examSets" | translate }}</a
            >
          </li>
          <li class="menu__item">
            <a
              [routerLink]="['../products/list']"
              [queryParams]="{ category_id: '4' }"
              >{{ "accesories" | translate }}</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li class="list__item">
    <a class="list__item__link" routerLink="../about-us">{{
      "aboutUs" | translate
    }}</a>
  </li>
  <li class="list__item">
    <a class="list__item__link" routerLink="../blog">{{
      "blog" | translate
    }}</a>
  </li>
  <li class="list__item">
    <a class="list__item__link" routerLink="../contacts">{{
      "contact.contact" | translate
    }}</a>
  </li>
</ul>
<!-- +++++++++++++++++++++++++++++++++++++++++ DRAWER ++++++++++++++++++++++++++++++++++++++++++ -->
<ng-template #drawer>
  <ul class="drawer">
    <li class="drawer__item submenu" (click)="closeDrawer.emit(false)">
      <a class="drawer__item__link" routerLink="../products">{{
        "products" | translate
      }}</a>
      <ul class="submenu__drawer">
        <!-- INDIVIDUALS -->
        <li class="submenu__drawer__item">
          <a
            routerLink="../products/individuals"
            class="submenu__drawer__item__link"
            >{{ "individualsProducts" | translate }}</a
          >
          <ul class="drawer-menu">
            <li class="drawer-menu__item">
              <a href="">{{ "advance" | translate }}</a>
            </li>
            <li class="drawer-menu__item">
              <a href="">{{ "aspire" | translate }}</a>
            </li>
            <li class="drawer-menu__item">
              <a href="">{{ "adept" | translate }}</a>
            </li>
          </ul>
        </li>

        <!-- PROFESSIONALS -->
        <li class="submenu__drawer__item">
          <a
            routerLink="../products/professionals"
            class="submenu__drawer__item__link"
            >{{ "professionals" | translate }}</a
          >
          <ul class="drawer-menu">
            <li class="drawer-menu__item">
              <a routerLink="../products/apex-pro">{{
                "apexPro" | translate
              }}</a>
            </li>
            <li class="drawer-menu__item">
              <a routerLink="../products/apex-vr">{{ "apexVr" | translate }}</a>
            </li>
            <li class="drawer-menu__item">
              <a routerLink="../products/analytic">{{
                "analytic" | translate
              }}</a>
            </li>
            <li class="drawer-menu__item">
              <a routerLink="../products/advance-training-station">{{
                "advanceTraining" | translate
              }}</a>
            </li>
            <li class="drawer-menu__item">
              <a routerLink="../products/advance-portable">{{
                "advancePortable" | translate
              }}</a>
            </li>
          </ul>
        </li>

        <!-- OTHER -->
        <li class="submenu__drawer__item">
          <a href="" class="submenu__drawer__item__link">{{
            "other" | translate
          }}</a>
          <ul class="drawer-menu">
            <li class="drawer-menu__item">
              <a href="">{{ "laparoscopic" | translate }}</a>
            </li>
            <li class="drawer-menu__item">
              <a href="">{{ "training" | translate }}</a>
            </li>
            <li class="drawer-menu__item">
              <a href="">{{ "examSets" | translate }}</a>
            </li>
            <li class="drawer-menu__item">
              <a href="">{{ "accesories" | translate }}</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="drawer__item" (click)="closeDrawer.emit(false)">
      <a class="drawer__item__link" routerLink="../about-us">{{
        "aboutUs" | translate
      }}</a>
    </li>
    <li class="drawer__item" (click)="closeDrawer.emit(false)">
      <a class="drawer__item__link" routerLink="../blog">{{
        "blog" | translate
      }}</a>
    </li>
    <li class="drawer__item" (click)="closeDrawer.emit(false)">
      <a class="drawer__item__link" routerLink="../contacts">{{
        "contact.contact" | translate
      }}</a>
    </li>
  </ul>
</ng-template>
