<div class="news-card">
  <div class="news-card__img">
    <img src="./assets/image/news-carousel-1.jpg" alt="img" />
  </div>
  <div class="news-card__description">
    <h4 class="section-title date">08/08/2023</h4>
    <h5 class="news-card__description__title">
      Esophageal Atresia in Virtual Reality
    </h5>
    <p class="news-card__description__text">
      Some time ago, we showed you how the Pediatric Pyeloplasty procedure looks
      in virtual reality. Now, it's time for esophageal atres...
    </p>
    <div class="news-card__description__btn">
      <a href="">Read more</a>
    </div>
  </div>
</div>
