<section class="information first-section">
  <div class="information__block">
    <div class="grid grid--md">
      <div class="row" [ngClass]="{even}">
        <div class="col-md-6">
          <img class="information__block__img" [src]="data.img" alt="" />
        </div>
        <div class="col-md-6">
          <div class="information__block__text">
            <h2 class="information__title">{{ data.title | translate }}</h2>
            <span class="information__description"
              ><div>
                {{ data.text | translate }}
              </div>
              <div></div>
              <div style="padding-left: 40px">
                <span *ngFor="let list of data.list">
                  {{ list | translate }}
                  <br />
                </span></div
            ></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-information-icons [iconsData]="data.imageList"></app-information-icons>
