<section class="information first-section">
  <div class="information__block">
    <div class="grid grid--md">
      <div class="row">
        <div class="col-md-6">
          <img
            class="information__block__img"
            src="./assets/image/apex-info-1.jpg"
            alt=""
          />
        </div>
        <div class="col-md-6">
          <div class="information__block__text">
            <h2 class="information__title">Realistic surgical simulation</h2>
            <span class="information__description"
              ><div>
                Laparo Apex PRO is a revolutionary hybrid simulator that
                combines both virtual reality and physical module training to
                offer a comprehensive and unparalleled training experience. It
                is the first laparoscopic simulator in the world that is
                dedicated also to training in pediatric surgery, providing a
                unique opportunity for trainees to gain valuable experience and
                expertise in this challenging field.
              </div>
              <div></div>
              <div style="padding-left: 40px">
                🔵 Complete training curriculum – from beginner manual skills to
                advanced procedures<br />🔵 Real clinical instruments and
                laparoscopes<br />🔵 Realistic touch feedback between
                instruments in virtual reality<br />🔵 Custom training creator
              </div></span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-information-icons></app-information-icons>
