<section class="shop__cart container">
  <div class="shop__cart__title">
    <h5>{{ "basket" | translate }} ({{ cartItems.length }})</h5>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <!-- LIST -->
      <app-product-list
        *ngFor="let product of cartItems"
        [product]="product"
        (decreaseProduct)="decreaseProduct($event)"
        (increaseProduct)="increaseProduct($event)"
        (deleteProductHandler)="deleteProduct($event)"
      ></app-product-list>
    </div>
    <div class="col-lg-4">
      <!-- TOTAL -->
      <app-total-info [totalPrice]="totalPrice"></app-total-info>
    </div>
  </div>
</section>
