<section class="shop__cart container">
  <div class="shop__cart__title">
    <h5>{{ "basket" | translate }} ({{ cartItems.length }})</h5>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <!-- LIST -->
      <app-product-list
        *ngFor="let product of cartItems"
        [product]="product"
        (decreaseProduct)="decreaseProduct($event)"
        (increaseProduct)="increaseProduct($event)"
        (deleteProductHandler)="deleteProduct($event)"
      ></app-product-list>

      <div *ngIf="!cartItems.length">
        <h3 class="empty-basket">Basket is empty</h3>
      </div>

    </div>
    <div class="col-lg-4">
      <!-- TOTAL -->
      <app-total-info
        (sendOrder)="sendOrder()"
        [isLoading]="isLoading"
        [totalPrice]="totalPrice"
      ></app-total-info>
    </div>
  </div>
</section>

<div class="message" *ngIf="visibleMessage" [@fadeIn]>Order was created</div>
