<section class="analytic__analysis">
  <div class="grid grid--xl">
    <div class="heading heading--right">
      <h4 class="section-title">ANALYSIS</h4>
    </div>
  </div>
  <div class="analytic__analysis__wrap">
    <div class="grid grid--md">
      <h2 class="blue">{{ data.title }}</h2>
      <div class="analytic__analysis__content">
        <h5>
          {{ data.description }}
        </h5>
        <div class="content">
          <div class="row">
            <div class="col-lg-6">
              <div class="text text--14">{{ data.leftText }}</div>
            </div>
            <div class="col-lg-6">
              <div class="text text--14">
                {{ data.rightText }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
