<form
  class="form"
  [ngClass]="{ isContact }"
  [formGroup]="form"
  (ngSubmit)="sendContact()"
>
  <div class="form__inputs">
    <div class="form__inputs__field">
      <label for="name">{{ "name" | translate }}</label>
      <input formControlName="name" type="text" id="name" appError />
    </div>
    <div class="form__inputs__field">
      <label for="phone">{{ "phone" | translate }}</label>
      <input
        formControlName="phone"
        type="text"
        id="phone"
        [mask]="PHONE_MASK"
        [prefix]="PHONE_PREFIX"
        appError
      />
    </div>

    <!-- TODO: EMAIL -->
    <!-- <div class="form__inputs__field">
      <label for="mail">E-mail</label>
      <input type="text" id="mail" />
      <span>This field is required</span>
    </div> -->
  </div>

  <!-- TODO: SUBJECT -->
  <!-- <div class="form__subject form__inputs__field" *ngIf="isContact">
    <label for="subject">Subject</label>
    <input type="text" id="subject" />
  </div> -->

  <div class="form__textare">
    <label for="text">{{ "yourMessage" | translate }}</label>
    <textarea
      formControlName="message"
      id="text"
      cols="30"
      rows="6"
      appError
    ></textarea>
  </div>

  <!-- TODO: REMOVE OR IMPLEMENT -->
  <!-- <div class="form__checkboxes">
    <div class="form__checkboxes__field">
      <input type="checkbox" />
      <span>I want to subscribe for the newsletter</span>
    </div>
    <div class="form__checkboxes__field">
      <input type="checkbox" />
      <span
        >I agree to
        <a href="">the terms & conditions</a>
        and
        <a href="">privacy policy</a></span
      >
    </div>
  </div> -->

  <div class="form__btn" [ngClass]="{ isContact }">
    <button>{{ "send" | translate }}</button>
  </div>
</form>


<app-notification
  [(isNotification)]="visibleMessage"
  [text]="'successMessage' | translate"
></app-notification>