.history {
  margin-top: 120px;

  &__info {
    margin-top: 120px;
    display: flex;

    &__title {
      position: relative;
      flex: 0 0 16.666667%;
      max-width: 16.666667%;

      span {
        font-family: Acherus-Bold;
        font-weight: 900;
        font-size: 144px;
        line-height: 100%;
        color: #f4f4f4;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-62%) translateY(110%) rotate(-90deg);
      }
    }

    &__description {
      flex: 0 0 83.333333%;
      max-width: 83.333333%;

      h5 {
        max-width: 880px;
        margin-left: 50px;
        font-size: 22px;
        font-family: Acherus-Bold;
        line-height: 170%;
      }
    }
  }
}
