<div class="history">
  <div class="container">
    <h4 class="section-title">{{ "aboutUs" | translate }}</h4>
    <div class="history__info">
      <div class="history__info__title">
        <span>{{ "history" | translate }}</span>
      </div>
      <div class="history__info__description">
        <h5 class="history__info__description__title">
          {{ "historyDescription" | translate }}
        </h5>
        <div class="stories">
          <div class="story" *ngFor="let story of stories">
            <div class="story__circle"><span></span></div>
            <div class="story__content">
              <h4 class="story__content__date">{{ story.date }}</h4>
              <p class="story__content__title">
                {{ story.title | translate }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
