<div class="auth">
  <h4>
    {{
      formType === "login"
        ? ("login" | translate)
        : ("registration" | translate)
    }}
  </h4>
  <!-- LOGIN -->
  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form__item">
      <label [for]="'username' + formType"
        >{{ "phone" | translate }} <span>*</span></label
      >
      <input
        [mask]="'00 000 00 00'"
        [prefix]="PHONE_PREFIX"
        [showMaskTyped]="true"
        type="text"
        [id]="'username' + formType"
        formControlName="phone"
      />
      <small
        class="error"
        *ngIf="
          (form.get('phone')?.touched && form.get('phone')?.invalid) ||
          (validator && form.get('phone')?.invalid)
        "
        >{{ "inputYourPhone" | translate }}</small
      >
    </div>

    <ng-container *ngIf="formType === 'register'">
      <div class="form__item">
        <label for="first">{{ "firstName" | translate }} <span>*</span></label>
        <input type="text" id="first" formControlName="first_name" />
        <small
          class="error"
          *ngIf="
            (form.get('first_name')?.touched &&
              form.get('first_name')?.invalid) ||
            (validator && form.get('first_name')?.invalid)
          "
          >{{ "inputYourName" | translate }}</small
        >
      </div>

      <div class="form__item">
        <label for="last">{{ "lastName" | translate }} <span>*</span></label>
        <input type="text" id="last" formControlName="last_name" />
        <small
          class="error"
          *ngIf="
            (form.get('last_name')?.touched &&
              form.get('last_name')?.invalid) ||
            (validator && form.get('last_name')?.invalid)
          "
          >{{ "inputYourLastName" | translate }}</small
        >
      </div>
    </ng-container>

    <div class="form__item">
      <label [for]="'password' + formType"
        >{{ "password" | translate }} <span>*</span></label
      >
      <div class="password">
        <input
          [type]="show ? 'text' : 'password'"
          [id]="'password' + formType"
          formControlName="password"
        />
        <span (click)="toggleShow()">
          <ng-container *ngIf="!show; else hide">
            <svg-show class="d-flex"></svg-show>
          </ng-container>
          <ng-template #hide>
            <svg-hide class="d-flex"></svg-hide>
          </ng-template>
        </span>
        <small
          class="error"
          *ngIf="
            formType === 'register' &&
            form.get('password')?.touched &&
            form.get('password')?.invalid
          "
          >{{ "minLengthPassword" | translate }}.</small
        >
        <small
          class="error"
          *ngIf="
            (formType === 'login' &&
              form.get('password')?.touched &&
              form.get('password')?.invalid) ||
            (validator && form.get('password')?.invalid)
          "
        >
          {{ "fillTheField" | translate }}</small
        >
      </div>
    </div>
    <div class="form__btn">
      <button>
        {{
          formType === "login"
            ? ("login" | translate)
            : ("signUp" | translate | translate)
        }}
      </button>

      <a *ngIf="formType === 'login'" routerLink="../password-reset">{{
        "forgotPassword" | translate
      }}</a>
    </div>
  </form>
</div>
