<div class="auth">
  <h4>
    {{
      formType === "login"
        ? ("login" | translate)
        : ("registration" | translate)
    }}
  </h4>
  <!-- LOGIN -->
  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form__item">
      <label [for]="'username' + formType"
        >{{ "phone" | translate }} <span>*</span></label
      >
      <input type="text" [id]="'username' + formType" formControlName="phone" />
    </div>

    <ng-container *ngIf="formType === 'register'">
      <div class="form__item">
        <label for="first">{{ "firstName" | translate }} <span>*</span></label>
        <input type="text" id="first" formControlName="first_name" />
      </div>

      <div class="form__item">
        <label for="last">{{ "lastName" | translate }} <span>*</span></label>
        <input type="text" id="last" formControlName="last_name" /></div
    ></ng-container>

    <div class="form__item">
      <label [for]="'password' + formType"
        >{{ "password" | translate }} <span>*</span></label
      >
      <div class="password">
        <input
          [type]="show ? 'text' : 'password'"
          [id]="'password' + formType"
          formControlName="password"
        />
        <span (click)="toggleShow()">
          <ng-container *ngIf="!show; else hide">
            <svg-show class="d-flex"></svg-show>
          </ng-container>
          <ng-template #hide>
            <svg-hide class="d-flex"></svg-hide>
          </ng-template>
        </span>
      </div>
    </div>
    <div class="form__btn">
      <button>{{ "login" | translate }}</button>
    </div>
  </form>
</div>
