<div class="lang">
  <div class="lang__viewer" (click)="toggleLangPopup()">
    <div class="lang__img">
      <img src="./assets/image/{{ currentLanguage }}-flag.png" alt="flag" />
    </div>
    <span class="lang__title">{{ LANGUAGE[currentLanguage] }}</span>
    <span class="lang__arrow">
      <svg-arrow></svg-arrow>
    </span>
  </div>
  <!-- LANGUAGE POPUP -->
  <ng-container *ngIf="isVisibleLanguagePopup">
    <div class="lang__selector">
      <p class="lang__selector__title">{{ "languages" | translate }}:</p>
      <!-- СДЕЛАТЬ РАБОЧИМ СЕЛЕКТОР ЯЗЫКА -->
      <select
        class="lang__selector__select"
        name="language"
        (change)="onChangeLanguage($event)"
      >
        <option
          [value]="language.key"
          [selected]="currentLanguage == language.key"
          *ngFor="let language of LANGUAGE | keyvalue"
        >
          {{ language.value }}
        </option>
      </select>

      <p class="lang__selector__title" style="margin-top: 10px">
        {{ "currency" | translate }}:
      </p>
      <!-- СДЕЛАТЬ РАБОЧИМ СЕЛЕКТОР ЯЗЫКА -->
      <select
        class="lang__selector__select"
        name="currency"
        (change)="onChangeCurrency($event)"
      >
        <option
          [value]="currency.key"
          [selected]="currentCurrency == currency.key"
          *ngFor="let currency of CURRENCY | keyvalue"
        >
          {{ currency.value.name }}
        </option>
      </select>
    </div>
  </ng-container>
</div>
