<section class="banner">
  <div class="banner__title">
    <h1>Professionals</h1>
  </div>
  <div class="container">
    <div class="banner__info">
      <div class="banner__info__text">
        <p>
          Are you planning for your medical simulation center, university or the
          hospital ward to be equipped with laparoscopy trainers? Meet the wide
          range of solutions by Laparo® and choose the right combination of
          devices to satisfy the needs of your trainees.
        </p>
      </div>
      <div class="banner__info__img">
        <img src="./assets/image/professional-banner.png" alt="img" />
      </div>
    </div>
  </div>
</section>
