<div class="categories" [ngClass]="{ isDetail: isDetail }">
  <h3 class="blog-title">{{ "categories" | translate }}</h3>
  <div class="categories__list">
    <a *ngFor="let category of data" class="categories__list__item"
      >{{ category.name | myTranslate| async }} ({{ category.count }})</a
    >
  </div>
  <div class="categories__search">
    <form class="categories__search__form">
      <input type="text" placeholder="Search our blog" />
      <button type="button" class="search-icon">
        <svg-search class="d-flex"></svg-search>
      </button>
      <button type="button" class="close-icon">
        <svg-close class="d-flex"></svg-close>
      </button>
    </form>
  </div>
</div>
