<div class="product-description" [innerHTML]="info | myTranslate | async">
  <!-- <div class="product-description__header">
    <div class="product-description__header__title active">
      INFORMATION AND SPECIFICATION
    </div>
  </div>
  <div class="product-description__info">
    <h5 class="product-description__info__title">
      Let's configure your own personalized set!
    </h5>
    <p class="product-description__info__text">
      FAST 24H SHIPPING! PRODUCT IN STOCK! LAPARO ADVANCE is a professional
      laparoscopic trainer designed especially for INSTITUTIONAL CLIENTS
      (hospitals and hospital wards). It allows practicing manual skills
      associated with minimally invasive surgeries. It was designed for the
      training of physicians, residents, and students. LAPARO ADVANCE is a
      laparoscopy trainer with unique characteristics and software in its price
      range. To start training, log in to Laparo Academy, connect the trainer,
      and start using it. LAPARO ADVANCE contains all elements necessary for
      laparoscopic training including laparoscopic trainer, pediatric
      instruments, training modules, and accessories.
    </p>
    <p class="product-description__info__text">
      Take advantage of a special offer tailored to your needs!
    </p>
    <p class="product-description__info__text">
      Create your training set! Add components and get a discount of up to 20%!
    </p>
  </div> -->
</div>
