<div class="company">
  <div class="container">
    <div class="company__wrapper">
      <ul class="company__row">
        <li class="company__col">
          <h4 class="company__col__title">Company info</h4>
          <ul class="company__col__list">
            <li class="company__col__list__item">Laparo Sp. z o.o.</li>
            <li class="company__col__list__item">Poland, European Union</li>
            <li class="company__col__list__item">
              Headquater:<br />
              Armii Krajowej 54,<br />
              50-541 Wrocław
            </li>
            <li class="company__col__list__item">
              Warehouse and production:<br />
              Wilcza 25c,<br />
              50-429 Wrocław
            </li>
            <li class="company__col__list__item">VAT-ID: PL8971818380</li>
            <li class="company__col__list__item">
              <a href="mailto:office@laparosimulators.com"
                >E:office@laparosimulators.com</a
              >
            </li>
            <li class="company__col__list__item">
              <a href="tel:48571223170">T: +48 571 223 170</a>
            </li>
          </ul>
        </li>

        <li class="company__col">
          <h4 class="company__col__title">Sales</h4>
          <ul class="company__col__list">
            <li class="company__col__list__item">
              <a href="mailto:office@laparosimulators.com"
                >E:office@laparosimulators.com</a
              >
            </li>
            <li class="company__col__list__item">
              <a href="tel:48571223170">T: +48 571 223 170</a>
            </li>
          </ul>
        </li>

        <li class="company__col">
          <h4 class="company__col__title">Support</h4>
          <ul class="company__col__list">
            <li class="company__col__list__item">
              Technical support for our customers is <br />available from Monday
              to Friday from 8 am to 3 pm.
            </li>

            <li class="company__col__list__item">
              <a href="mailto:support@laparosimulators.com"
                >E:support@laparosimulators.com</a
              >
            </li>
            <li class="company__col__list__item">
              <a href="tel:48571223170">T: +48 571 223 170</a>
            </li>
          </ul>
        </li>

        <li class="company__col">
          <h4 class="company__col__title">Distribution</h4>
          <ul class="company__col__list">
            <li class="company__col__list__item">
              <span
                >Northern & Southern <br />America
                <br />
                <a href="mailto:americas@laparosimulators.com"
                  >americas@laparosimulators.com</a
                ></span
              >
            </li>
            <li class="company__col__list__item">
              <span
                >Europe<br />
                <a href="mailto:europe@laparosimulators.com"
                  >europe@laparosimulators.com</a
                ></span
              >
            </li>
            <li class="company__col__list__item">
              <span
                >Middle East & Africa<br />
                <a href="mailto:mea@laparosimulators.com"
                  >mea@laparosimulators.com</a
                ></span
              >
            </li>
            <li class="company__col__list__item">
              <span
                >Asia – Pacific<br />
                <a href="mailto:apac@laparosimulators.com"
                  >apac@laparosimulators.com</a
                ></span
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
