<div class="company">
  <div class="container">
    <div class="company__wrapper">
      <ul class="company__row">
        <li class="company__col">
          <h4 class="company__col__title">{{ "companyInfo" | translate }}</h4>
          <ul class="company__col__list">
            <li class="company__col__list__item">{{ "city" | translate }}</li>
            <li class="company__col__list__item">
              {{ "district" | translate }}
            </li>
            <li class="company__col__list__item">
              {{ "address" | translate }}
            </li>
            <li class="company__col__list__item">
              <a href="mailto:shukrullayev99@gmail.com"
                >E:shukrullayev99@gmail.com</a
              >
            </li>
            <li class="company__col__list__item">
              <a href="tel:+998900137077">T:+998 90 013 70 77</a>
            </li>
          </ul>
        </li>

        <li class="company__col">
          <h4 class="company__col__title">{{ "sales" | translate }}</h4>
          <ul class="company__col__list">
            <li class="company__col__list__item">
              <a href="mailto:shukrullayev99@gmail.com"
                >E:shukrullayev99@gmail.com</a
              >
            </li>
            <li class="company__col__list__item">
              <a href="tel:+998900137077">T:+998 90 013 70 77</a>
            </li>
          </ul>
        </li>

        <!-- <li class="company__col">
          <h4 class="company__col__title">Support</h4>
          <ul class="company__col__list">
            <li class="company__col__list__item">
              Technical support for our customers is <br />available from Monday
              to Friday from 8 am to 3 pm.
            </li>

            <li class="company__col__list__item">
              <a href="mailto:support@laparosimulators.com"
                >E:support@laparosimulators.com</a
              >
            </li>
            <li class="company__col__list__item">
              <a href="tel:48571223170">T: +48 571 223 170</a>
            </li>
          </ul>
        </li> -->

        <!-- <li class="company__col">
          <h4 class="company__col__title">Distribution</h4>
          <ul class="company__col__list">
            <li class="company__col__list__item">
              <span
                >Northern & Southern <br />America
                <br />
                <a href="mailto:americas@laparosimulators.com"
                  >americas@laparosimulators.com</a
                ></span
              >
            </li>
            <li class="company__col__list__item">
              <span
                >Europe<br />
                <a href="mailto:europe@laparosimulators.com"
                  >europe@laparosimulators.com</a
                ></span
              >
            </li>
            <li class="company__col__list__item">
              <span
                >Middle East & Africa<br />
                <a href="mailto:mea@laparosimulators.com"
                  >mea@laparosimulators.com</a
                ></span
              >
            </li>
            <li class="company__col__list__item">
              <span
                >Asia – Pacific<br />
                <a href="mailto:apac@laparosimulators.com"
                  >apac@laparosimulators.com</a
                ></span
              >
            </li>
          </ul>
        </li> -->
      </ul>
    </div>
  </div>
</div>
