<div class="news">
  <div class="container">
    <h4 class="section-title">News</h4>
    <div class="news__header">
      <h2 class="news__header__title title">What’s going on?</h2>
    </div>
    <div class="news__content">
      <swiper
        [breakpoints]="{
          '360': {
            slidesPerView: 1,
            spaceBetween: 5
          },
          '991': {
            slidesPerView: 1.25,
            spaceBetween: 20
          },
          '1170': {
            slidesPerView: 1.4,
            spaceBetween: 20
          },
          '1300': {
            slidesPerView: 1.6,
            spaceBetween: 20
          }
        }"
        #swiper
        [slidesPerView]="1"
        [spaceBetween]="10"
        class="news__swiper"
      >
        <ng-template swiperSlide *ngFor="let newsEl of news"
          ><app-news-slide [new]="newsEl"></app-news-slide
        ></ng-template>
      </swiper>
    </div>
    <app-swiper-nav (next)="next()" (pre)="pre()"></app-swiper-nav>
  </div>
</div>
