<div class="news" *ngIf="blog && blog.results.length">
  <div class="container">
    <h4 class="section-title">{{ "news" | translate }}</h4>
    <div class="news__header">
      <h2 class="news__header__title title">{{ "wGoin" | translate }}</h2>
    </div>
    <div class="news__content">
      <swiper
        [breakpoints]="{
          '360': {
            slidesPerView: 1,
            spaceBetween: 5
          },
          '576': {
            slidesPerView: 1,
            spaceBetween: 5
          },
          '991': {
            slidesPerView: 2,
            spaceBetween: 20
          },
          '1170': {
            slidesPerView: 3.5,
            spaceBetween: 10
          },
          '1200': {
            slidesPerView: 3.6,
            spaceBetween: 10
          },
          '1300': {
            slidesPerView: 3.9,
            spaceBetween: 20
          }
        }"
        #swiper
        [slidesPerView]="1"
        [spaceBetween]="10"
        class="news__swiper"
      >
        <ng-template swiperSlide *ngFor="let blog of blog.results">
          <!-- <app-news-slide [new]="newsEl"></app-news-slide> -->

          <app-post-card
            [data]="blog"
            [isSmCard]="true"
            [withoutImg]="true"
          ></app-post-card>
        </ng-template>
      </swiper>
    </div>
    <app-swiper-nav (next)="next()" (pre)="pre()"></app-swiper-nav>
  </div>
</div>
