.news {
  margin-top: 100px;
  margin-bottom: 100px;

  &__header {
    margin-top: 80px;

    &__title {
      @media (max-width: 992px) {
        text-align: center;
      }
    }
  }

  &__content {
    margin-top: 100px;
    margin-right: -20vw;

    @media (max-width: 1200px) {
      margin-top: 60px;
    }

    @media (max-width: 1200px) {
      margin-right: 0;
    }
  }
}
