<div class="blog-detail">
  <div class="container">
    <div class="blog-detail__wrapper" *ngIf="blog$ | async as blog">
      <!-- TODO: IMPLEMENT OR REMOVE -->
      <!-- <app-categories [isDetail]="true"></app-categories> -->
      <div class="blog-detail__info">
        <div class="blog-detail__info__left">
          <div class="date-view-style blog-detail__info__left__date">
            {{ blog.created_at | date : "dd.MM.yyyy" }}
          </div>
          <h3 class="blog-detail__info__left__title">
            {{ blog.title | myTranslate | async }}
          </h3>
          <div class="blog-detail__info__left__text">
            <!-- {{ blog.description | myTranslate | async }} -->
            <div
              *ngIf="blog.description | myTranslate | async as desc"
              [ngxSummernoteView]="desc"
            ></div>
          </div>
        </div>
        <div class="blog-detail__info__right">
          <img [src]="blog.preview_image" alt="image" />
        </div>
      </div>
      <app-social-links></app-social-links>

      <div class="divider"></div>

      <div [innerHTML]="blog.text | myTranslate | async"></div>

      <app-social-links [center]="true"></app-social-links>

      <div class="blog-detail__info__similar">
        <!-- <h4 class="blog-detail__info__similar__title">Related articles</h4> -->
        <div class="blog-detail__info__similar__cards">
          <app-post-card
            *ngFor="let blog of popular$ | async"
            [data]="blog"
            [isSmCard]="true"
            [withoutImg]="true"
          ></app-post-card>
        </div>
      </div>
    </div>
  </div>
</div>
