/* You can add global styles to this file, and also import other style files */
@import "swiper/less";
@import "swiper/less/navigation";
@import "swiper/less/pagination";

@font-face {
  font-family: Acherus-Regular;
  src: url("./assets/fonts/AcherusGrotesque-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Acherus-Light;
  src: url("./assets/fonts/AcherusGrotesque-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: Acherus-Medium;
  src: url("./assets/fonts/AcherusGrotesque-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: Acherus-Thin;
  src: url("./assets/fonts/AcherusGrotesque-Thin.ttf");
  font-weight: 100;
}

@font-face {
  font-family: Acherus-Black;
  src: url("./assets/fonts/AcherusGrotesque-Black.ttf");
  font-weight: 800;
}

@font-face {
  font-family: Acherus-Bold;
  src: url("./assets/fonts/AcherusGrotesque-Bold.ttf");
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Acherus-Regular, sans-serif;
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h6 {
  font-family: Acherus-Black;
  font-weight: 900;
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  padding: 0 15px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a,
ol li,
ul li {
  line-height: 1.33;
}

.d-flex {
  display: flex;
}

.section-title {
  text-transform: uppercase;
  position: relative;
  padding-right: 243px;
  font-family: Acherus-Black;
  font-weight: 900;
  font-size: 14px;
  line-height: 170%;
  text-align: right;

  @media (max-width: 567px) {
    padding-right: 120px;
  }

  &::before {
    position: absolute;
    right: 0;
    content: "";
    width: 227px;
    height: 2px;
    background-color: #000;
    top: 50%;
    transform: translateY(-50%);

    @media (max-width: 567px) {
      width: 100px;
    }
  }
}
