<div class="woocommerce-notices-wrapper"></div>
<p>
  Hello <strong>makhmudov.kay</strong> (not <strong>makhmudov.kay</strong>?
  <a
    href="https://laparosimulators.com/my-account/customer-logout/?_wpnonce=c13a75f765"
    >Log out</a
  >)
</p>
<p>
  From your account dashboard you can view your
  <a href="https://laparosimulators.com/my-account/orders/">recent orders</a>,
  manage your
  <a href="https://laparosimulators.com/my-account/edit-address/"
    >shipping and billing addresses</a
  >, and
  <a href="https://laparosimulators.com/my-account/edit-account/"
    >edit your password and account details</a
  >.
</p>
