<div class="cart-list" (window:resize)="onResize($event)">
  <table
    class="cart-list__table"
    cellspacing="0"
    *ngIf="!isMobileSize; else mobile"
  >
    <thead>
      <tr>
        <th class="product-name">Product</th>
        <th class="product-remove"></th>
        <th class="product-thumbnail">&nbsp;</th>
        <th class="product-price">Price</th>
        <th class="product-quantity">Quantity</th>
        <th class="product-subtotal">Subtotal</th>
      </tr>
    </thead>
    <tbody>
      <tr class="woocommerce-cart-form__cart-item cart_item">
        <td class="product-remove">
          <a class="remove" (click)="deleteProduct(100)">X</a>
        </td>
        <td class="product-thumbnail">
          <a
            href="https://laparosimulators.com/produkt/general-surgery-training-modules-set/"
            ><img
              [src]="product.image"
              class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
          /></a>
        </td>
        <td class="product-name" data-title="Product">
          <a
            href="https://laparosimulators.com/produkt/general-surgery-training-modules-set/"
            >{{ product.title | myTranslate | async }}
          </a>
        </td>
        <td class="product-price" data-title="Price">
          <span class="woocommerce-Price-amount amount">{{
            product.price | myCurrency
          }}</span>
        </td>
        <td class="product-quantity" data-title="Quantity">
          <div class="quantity">
            <app-calc-input
              (countChangeDecrease)="decrease()"
              (countChangeIncrease)="increase()"
              [count]="product.count"
            ></app-calc-input>
          </div>
        </td>
        <td class="product-subtotal" data-title="Subtotal">
          <span class="woocommerce-Price-amount amount">{{
            product.totalPrice 
          }}</span>
        </td>
      </tr>
    </tbody>
  </table>

  <ng-template #mobile>
    <div class="cart-list__item-list">
      <div class="cart-list__item">
        <div class="cart-list__item__remove-btn cart-list__item__row">
          <button class="remove" (click)="deleteProduct(100)">X</button>
        </div>
        <div class="cart-list__item__row">
          <h5>Product</h5>
          <a
            href="https://laparosimulators.com/produkt/general-surgery-training-modules-set/"
            >{{ product.title | myTranslate | async }}
          </a>
        </div>
        <div class="cart-list__item__row">
          <h5>Price</h5>
          <p>{{ product.price }}</p>
        </div>
        <div class="cart-list__item__row">
          <h5>Quantity</h5>
          <div class="quantity">
            <app-calc-input
              (countChangeDecrease)="decrease()"
              (countChangeIncrease)="increase()"
              [count]="product.count"
            ></app-calc-input>
          </div>
        </div>
        <div class="cart-list__item__row">
          <h5>SubTotal</h5>
          <p>{{ product.totalPrice }}</p>
        </div>
      </div>
    </div>
  </ng-template>
</div>
